<form [formGroup]="_form" id="PatientForm">
    <div class="container">
        <div>
            <h4>Patient Registration</h4>
            <div *ngIf="_inValidForm">
                <p style="color: red;font-size: smaller;">All fields are required.</p> 
         </div>
        </div>
        <div class="row top-buffer">
            <div class="col-2">
                <label class="control-label">Name:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" formControlName="Name" (keypress)="validateText($event)">
            </div>
            <div class="col-2">
                <label class="control-label">Surname:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" formControlName="SurName" (keypress)="validateText($event)">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-2">
                <label class="control-label">Birth Date:</label>
            </div>
            <div class="col-3">
                <input type="date" class="form-control" [max]="_maxDate" [min]="_minDate" formControlName="DOB"
                    onkeydown="return false">
            </div>
            <div class="col-2">
                <label class="control-label">Gender:</label>
            </div>
            <div class="col-3">
                <select class="form-control" formControlName="Gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-2">
                <label class="control-label">State:</label>
            </div>
            <div class="col-3">
                <select class="form-control" (change)="getCities($event.target.value)" formControlName='State'>
                    <option [value]="-1">Select State</option>
                    <option *ngFor="let state of _states" [value]="state.id">{{state.name}}</option>
                </select>
            </div>
            <div class="col-2">
                <label class="control-label">City:</label>
            </div>
            <div class="col-3">
                <select class="form-control" formControlName="City">
                    <option [value]="-1">Select City</option>
                    <option *ngFor="let city of _cities" [value]="city.id">{{city.name}}</option>
                </select>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-9" style="float: left;">
                <button class="btn btn-primary" (click)="getPatients()">Fetch</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="SavePatientData()">Save</button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-10">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>DOB</th>
                        <th>Gender</th>
                    </tr>
                    <tr *ngFor="let patient of _patients">
                        <td>{{patient.name}}</td>
                        <td>{{patient.surName}}</td>
                        <td>{{patient.dob | date : 'dd-MM-yyyy'}}</td>
                        <td>{{patient.gender}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>